<h1 class='wi'>Queue Latency</h1>
<p class='intro'>
  The list below shows the queues, number of items in each queue and their respective
  latencies (in seconds) and the last time the latency was updated.
</p>

<table class='queues' style="width: 75%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Latency</th>
      <th>Since</th>
    </tr>
  </thead>
  <tbody>
<% Resque.queues.sort_by { |q| q.to_s }.each do |queue| %>
  <tr>
    <td class='queue'><%= queue %></td>
    <td class='size'><%= resque.size queue %></td>
    <td class='latency'><%= resque.latency queue %></td>
    <td class='latency_updated_at'>
      <% if resque.latency_updated_at(queue) < 1.hour.ago %>
        <%= resque.latency_updated_at(queue).strftime('%F %r') %>
      <% else %>
        <%= Time.now.to_i - resque.latency_updated_at(queue).to_i %> seconds
      <% end %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<%= poll %>
